<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <div class=" w-full min-h-screen bg-zinc-900 text-white">
        <a  class="nav mb-10 text-blue-500 block" href="/">Go to Home</a>
        <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
        <% if(users.length > 0) {%>
        <div class="users flex gap-3 flex-wrap">
            <% users.forEach(function(val){%>
                <div class="user w-72 p-4 bg-zinc-800 rounded-lg"> 
                    <div class="w-full h-52 bg-zinc-500 rounded-lg overflow-hidden">
                        <img class="w-full h-full object-cover " src="<%= val.image%>" alt="">
                    </div>   
                    <h3 class="text-xl tracking-tighter mt-3"> <%= val.name%></h3>
                    <h5 class="text-zinc-500"><%= val.email%></h5> 
                    <div class="flex gap-3">
                       <a class="text-zinc-200" href="/edit/<%= val._id%>">Edit user</a>
                       <a class="text-red-500" href="/delete/<%= val._id%>">Delete User</a>
                    </div>
                   </div>
           <% }) %> 
        </div>
        <%}else{%>
            <div class="text-xl mt-5 text-zinc-200">No Users Yet</div>
        <%}%>
    </div>
</body>
</html>